build/
*/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Makefile.cmake
*.cmake

*.o
*.obj
*.lo
*.la
*.al
*.so
*.dylib
*.dll
*.exe

tv_lab
cat
library

.DS_Store
.vscode/
.idea/

*.log
*.tmp

*.d
